{{#if resume.awards.length}}
  <div class="container awards-container">
    {{> title value="Awards"}}
    <section class="item">
    {{#isArray resume.awards}}
      {{#each .}}
        <h4>{{title}}</h4>
      {{/each}}
    {{else}}
      {{{.}}}
    {{/isArray}}
    </section>
  </div>
{{/if}}
