{{#if resume.awards.length}}
<div class="container awards-container">
  {{> title value="Awards"}}

  <section class="item">
  {{#each resume.awards}}
      <h4>{{title}}</h4>
  {{/each}}
  </section>
</div>
{{/if}}
