{{#if resume.languages.length}}
<div class="container languages-container">
  {{> title value="Languages"}}
  {{#each resume.languages}}
    <h4>{{language}} {{#if fluency}}: {{fluency}} {{/if}}</h4>
  {{/each}}
</div>
{{/if}}
