{{#if resume.languages.length}}
<div class="container languages-container">
  {{> title value="Languages"}}
  {{#isArray resume.languages}}
    {{#each .}}
      <h4>{{language}} {{#if fluency}}: {{fluency}} {{/if}}</h4>
    {{/each}}
  {{else}}
    {{{.}}}
  {{/isArray}}
</div>
{{/if}}
