{{#ifHasSkills resume.skills}}
  {{#isArray .}}
  <div class="container skills-container">
    {{> title value="Skills"}}
    <section>
      {{#each .}}
        {{#isSkill .}}
          <h4>{{name}}</h4>
        {{/isSkill}}
      {{/each}}
    </section>
  </div>
  {{else}}
    {{{.}}}
  {{/isArray}}
{{/ifHasSkills}}