
{{#ifHasTechnologies resume.skills}}
<div class="container technologies-container">
    {{> title value="Technologies"}}
    <section>
        <h4>
        {{#isArray .}}
            {{#each .}}
                {{#isTechnology .}} 
                    {{name}} |
                {{/isTechnology}}
            {{/each}}
        {{else}}
            {{technologiesMustache}}
        {{/isArray}}
        </h4> 
    </section>
</div>
{{/ifHasTechnologies}}