.page {
  @extend .flex;
  @extend .flex-direction-column;
  background: $white;
  font-size: 14px;
  margin: 0;
  min-height: $page-height;
  position: relative;
  width: $page-width;
  // @include shadow();
  @include clearfix();
  .resume-header {
    background-color: $gray-light;
    @extend .flex;
    min-height: $header-height;
    
    .background-header {
      &.background-employee,
      &.background-dev {
        background-repeat: no-repeat;
        background-size: cover;
        .profile-header {
          color: $white;

          &.pull-right {
            padding: 0.5em 0;
          }
          .my-auto {
            text-align: left;
          }
          .ksquare-image {
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            height: 2em;
          }
        }
      }

    }

    .background-employee {
      background-image: url($background-employee-image);
      .ksquare-image {
        background-image: url($ksquare-logo-blue);
      }
    }

    .background-dev {
      background-image: url($background-dev-image);
      .ksquare-image {
        background-image: url($ksquare-logo-white);
      }
    }

    &.resume-header-dev {
      border-bottom: 0.6em solid $blue-ksquare;
    }
    &.resume-header-employee {
      border-bottom: 0.6em solid $dark-blue;
    }

    .background-header {
      @extend .align-items-center;
      @extend .flex;
      position: relative;
      width: $page-width;

      .profile-header {
        @extend .flex;
        @extend .flex-direction-column;
        color: $dark-blue;
        height: 100%;
        position: relative;
        width: 70%;
        .my-auto {
          text-align: center;
        }
        .ksquare-image {
          display: none;
        }
        h1 {
          margin-top: 0.3em;
        }
        h2 {
          margin-bottom: 0.5em;
        }
        span {
          font-size: 1em;
        }
        &.w-100 {
          height: 100%;
          display: flex;
          .my-auto {
            // flex: 0 0 100%;
            text-align: center;
          }
        }
      }
    }
  }
  .resume-content {
    @extend .flex;
    @extend .flex-grow-1;
  }
  .resume-footer {
    @extend .flex;
    color: $white;
    display: none;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    .footer-text-container {
      @extend .flex-grow-1;
      line-height: 1.5em;
      margin: auto;
    }

    &.background-dev {
      background-color: $background-dev;
    }
    &.background-employee {
      background: $background-employee;
    }
  }
}

.left-column .left-column-padding,
.right-column {
  padding: 2.3em;
}

.title {
  margin-bottom: 0.6em;
}

.left-column {
  -webkit-box: 0 0 30%;
  -webkit-flex: 0 0 30%;
  -ms-flexbox: 0 0 30%;
  flex: 0 0 30%;
  word-wrap: break-word;
  &.left-column-branding {
    background-color: $gray-light;
  }
  &.left-column-nobranding {
    background-color: $white;
  }
}

.right-column {
  overflow: hidden;
  width: auto;
  .summary-position {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5px;
  }
}

.item {
  margin-bottom: spacing(3);
  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  h3 {
    color: $text-title-color;
  }
}
