.page {
  @extend .flex;
  background: $white;
  flex-direction: column;
  font-size: 14px;
  margin: 0;
  min-height: $page-height;
  position: relative;
  width: $page-width;
  // @include shadow();
  @include clearfix();
  .resume-header {
    .background-employee,
    .background-dev {
      background-repeat: no-repeat;
      background-size: cover;
    }
    .background-employee {
      background-image: url($background-employee-image);
    }
    .background-dev {
      background-image: url($background-dev-image);
    }
    &.resume-header-dev {
      border-bottom: 0.5em solid $blue-ksquare;
    }
    &.resume-header-employee {
      border-bottom: 0.5em solid $dark-blue;
    }

    height: $header-height;

    .background-header {
      height: $header-height + 0.05em;
      position: relative;
      width: $page-width;

      &::before {
        background-size: cover;
        bottom: 0px;
        content: "";
        left: 0px;
        opacity: 0.89;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      &.background-employee:before {
        background: $background-employee;
      }
      &.background-dev:before {
        background: $background-dev;
      }

      .profile-header {
        @extend .flex;
        color: $white;
        flex-direction: column;
        height: 100%;
        position: relative;
        width: 70%;
        .ksquare-image {
          background-image: url($ksquare-image);
          background-repeat: no-repeat;
          background-size: contain;
          height: 2em;
        }
        h1 {
          margin-top: 0.3em;
        }
        h2 {
          margin-bottom: 0.5em;
        }
        span {
          font-size: 1em;
        }
      }
    }
  }
  .resume-content {
    @extend .flex;
    flex-grow: 1;
  }
  .resume-footer {
    @extend .flex;
    color: $white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    .footer-text-container {
      line-height: 1.5em;
      margin: auto;
      flex-grow: 1;
    }

    &.background-dev {
      background-color: $background-dev;
    }
    &.background-employee {
      background: $background-employee;
    }
  }
}

.left-column .left-column-padding,
.right-column {
  padding: 2.3em;
}

.title {
  margin-bottom: 0.6em;
}

.left-column {
  background-color: $gray-light;
  flex: 0 0 30%;
  word-wrap: break-word;
}

.right-column {
  overflow: hidden;
  width: auto;
  .summary-position {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5px;
  }
}

.item {
  margin-bottom: spacing(3);
  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  h3 {
    color: $text-title-color;
  }
}
