.container {
  padding-bottom: spacing(4);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.clearfix {
  @include clearfix();
}

.profile-pic {
  display: flex;
  height: 100%;
  position: relative;
  text-align: center;
  width: 30%;

  img {
    height: $profile-pic-size;
    margin: auto;
    width: $profile-pic-size;
  }
}

.summary {
  margin: 1.4em 0;
  font-size: 1em;
}
