/*----- Colors -----*/

$gray-darkest: #333;
$gray-darker: #666;
$gray-dark: #999;
$gray: #ccc;
$gray-light: #f2f2f2;
$gray-lighter: #eee;
$gray-lightest: #f8f8f8;
$white: white;

$slate-gray: #39424b;
$slate-green: #56817a;

$blue-ksquare: #46a0b6;
$dark-blue: #1e326b;

$background-dev: $dark-blue;
$background-employee: $blue-ksquare;

$text-title-color: $dark-blue;

$primary-color: $slate-green;
$secondary-color: $slate-gray;

$link-color: #2895f1;

/*----- Fonts -----*/

$primary-font: "Inter", Helvetica, Arial, sans-serif;
$secondary-font: "Josefin Sans", Helvetica, Arial, sans-serif;

/*----- Dimensions and sizes -----*/

$print-width: 22cm;
$print-height: 29.7cm;
$page-width: 100%;
$page-height: 60em;
$header-height: 11.2em;

$mobile-width: 435px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;
$retina-width: 1920px;

$font-unit: 1em;
$profile-pic-size: 6.5em;
$aside-width: 160px;
$aside-margin: 20px;
$pad-unit: 0.3em;

$ksquare-logo-blue: "https://dev-synkronapp-frontend-bucket.s3.us-east-2.amazonaws.com/resumes-templates/ks-logo-blue%402x.png";
$ksquare-logo-white: "https://dev-synkronapp-frontend-bucket.s3.us-east-2.amazonaws.com/resumes-templates/ks-logo-white%402x.png";

$background-employee-image: "https://dev-synkronapp-frontend-bucket.s3.us-east-2.amazonaws.com/resumes-templates/FondoBranding1%403x.png";
$background-dev-image: "https://dev-synkronapp-frontend-bucket.s3.us-east-2.amazonaws.com/resumes-templates/FondoBranding2%403x.png";
